@model IEnumerable<IncidentSheet.Models.Joker>


<h1>List of Jokers</h1>

<style>
    #entry {
        font-family: Tahoma;
        border-collapse: collapse;
        width: 100%;
    }

        #entry th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: forestgreen;
            color: white
        }

        #entry td {
            border: 1px solid;
            padding: 8px;
        }

        #entry tr:nth-child(even) {
            background-color: lightgrey;
        }
</style>

<form asp-controller="Joker" asp-action="Index">

    <div>

        <table id="entry">

            <tr>
                <th align="center">
                    Date of Incident
                </th>
                <th align="center">
                    Time of Incident
                </th>
                <th align="center">
                    Reporting Unit
                </th>
                <th align="center">
                    Type of Incident
                </th>
                <th align="center">
                    Summary
                </th>
            </tr>

            @if (Model == null)
            {
                <tr>
                    <td>No Entries</td>
                </tr>
            }
            else
            {
                foreach (Joker item in @Model)
                {
                    <tr>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.IncidentDate)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.IncidentTime)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td align="center">
                            @Html.ActionLink(item.Incident, "Details", new { id = item.ID })
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Summary)
                        </td>
                        <td>
                            <a href="/Joker/Search">Search</a>  |
                            <a href="/Joker/Details">View Entry</a>  |
                            <a href="/Joker/Remove">Delete Entry</a>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

</form>

<p><a asp-controller="Joker" asp-action="Add">Add New Incident</a></p>
