@model List<IncidentSheet.Models.Joker>




<form asp-controller="Joker" asp-action="Add">


    @foreach (var joker in Model)
    {

        <div class="form-group">
            <label class="form-group">Date of Incident</label>
            <span>
                <text>@joker.IncidentDate.ToString("MM dd, yyyy") </text>
            </span>
        </div>


        <div class="form-group">
            <label class="form-group">Time of Incident</label>
            <span>
                <text>@joker.IncidentTime.ToString("hh:mm")</text>
            </span>
        </div>


        <div class="form-group">
            <label class="form-group">Reporting Unit</label>
            <span>
                <text>@joker.Unit</text>
            </span>
        </div>

        <div class="form-group">
            <label class="form-group">Type of Incident</label>
            <span>
                <text>@joker.Incident</text>
            </span>
        </div>

        <div class="form-group">
            <label class="form-group">Summary of Incident</label>
            <span>
                <text>@joker.Summary</text>
            </span>
        </div>


    }
<a href="~/ViewModels/DropDownViewModel.cs">~/ViewModels/DropDownViewModel.cs</a>

</form>

<p><a asp-controller="Joker" asp-action="Add">Add New Incident</a></p>>

