<h1>@ViewBag.title</h1>

<style>
    #entry {
        font-family: Tahoma;
        border-collapse: collapse;
        width: 100%;
    }
        #entry th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: forestgreen;
            color: white
        }
        #entry td {
            border: 1px solid;
            padding: 8px;
        }

        #entry tr:nth-child(even) {
            background-color: lightgrey;
        }
</style>

<form method="post">

    <div>
        <table id="entry">
            <tr>
                <th align="center">
                    Unit Reporting
                </th>
                <th align="center">
                    Date of the Incident
                </th>
                <th align="center">
                    Type of Incident
                </th>
                <th align="center">
                    Check to Remove Entry
                </th>
            </tr>
            @foreach (var joker in ViewBag.jokers)
            {
                <tr>
                    <td align="center">
                        @joker.Unit
                    </td>
                    <td align="center">
                        @joker.IncidentDate.ToString("MM/dd/yyyy")
                    </td>
                    <td align="center">
                        @joker.Incident
                    </td>
                    <td align="center">
                        @Html.CheckBox("joker.ID", false)
                    </td>
                </tr>
            }
        </table>
</div>
        <br/>
        <br/>
        <br/>
        <input class="form-group"  type="submit" value="Remove Selected Incident(s)" />

</form>

