<h1>@ViewBag.title</h1>

<style>
    #entry {
        font-family: Tahoma;
        border-collapse: collapse;
        width: 100%;
    }

        #entry th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: forestgreen;
            color: white
        }

        #entry td {
            border: 1px solid;
            padding: 8px;
        }

        #entry tr:nth-child(even) {
            background-color: lightgrey;
        }
</style>



<form method="post">

    <div style="font-family: Arial">

        @foreach (var joker in ViewBag.jokers)
        {
            <input type="checkbox" name="jokerIds" id="@joker.ID" value="@joker.ID" />
            <label for="@joker.ID"></label>

            <table id="entry">

                <tr>
                    <td align="center">
                        Unit Reporting
                    </td>
                    <td align="center">
                        Date of the Incident
                    </td>
                    <td align="center">
                        Type of Incident
                    </td>
                </tr>

                <tr>
                    <td align="center">
                        @joker.IncidentDate.ToString("MM dd, yyyy")
                    </td>
                    <td align="center">
                        @joker.Unit
                    </td>
                    <td align="center">
                        @joker.Incident
                    </td>
                </tr>
            </table>
        }


        <input type="submit" value="Remove Selected Incident(s)" />

</form>

