@using PagedList.Mvc;
@using PagedList;


@model IPagedList<IncidentSheet.Models.Joker>

<p>

    @using (Html.BeginForm( "Search", "Joker", FormMethod.Get))/* name of the view used(action), name of controller used, formmethod.get*/
    {
        <b>Search By:</b>@Html.RadioButton("searchBy", "Unit", true) <text>Reporting Unit</text>
        @Html.RadioButton("searchBy", "IncidentDate")<text> Date of Incident</text>
        @Html.RadioButton("searchBy", "Incident")<text> Type of Incident </text>
        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</p>

<div style="font-family: Arial">


    <table border="1">
        
        <tr>
            <th>
                @Html.ActionLink("Unit", "Search", new { sort = ViewBag.SortByUnit,
               searchBy = ViewBag.Request.QueryString["searchBy"],
               search = ViewBag.Request.QueryString["search"] })
            </th>
            <th>
                @Html.ActionLink("IncidentDate", "Search", new { sort = ViewBag.SortByIncidentDate,
               searchBy = ViewBag.Request.QueryString["SearchBy"],
               search = ViewBag.Request.QueryString["search"] })
            </th>
            <th>
                @Html.ActionLink("Incident", "Search", new { sort = ViewBag.SortByIncident,
               searchBy = ViewBag.Request.QueryString["SearchBy"],
               search = ViewBag.Request.QueryString["search"] })
            </th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3">No Match with Search Criteria</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IncidentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Incident)
                    </td>
                </tr>
            }

        }

    </table>
</div>

