@model IEnumerable<IncidentSheet.Models.Joker>

@{ 
    ViewBag.Title = "Search Daily Incident Reports";
}

<p>

    @using (Html.BeginForm())/* name of the view used(action), name of controller used, formmethod.get*/
    {
        <b>Search By:</b>@Html.RadioButton("searchBy", "Unit", true) <text>Reporting Unit</text>
        @Html.RadioButton("searchBy", "IncidentDate")<text> Date of Incident</text>
        @Html.RadioButton("searchBy", "Incident")<text> Type of Incident </text>
        @Html.TextBox("searchInput")<input type="submit" value="searchInput"/>
    }
    </p>

    <div style="font-family: Arial">


        <table border="1">

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IncidentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Incident)
                    </th>
                </tr>

            @if (Model.Count() == 0)
            {
                <tr>
                        <td colspan="3">No Match with Search Criteria</td>
                </tr>
            }
            else
            {
                foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IncidentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Incident)
                        </td>
                    </tr>
                }

            }

        </table>
</div>

